.App {
  color: #21222A;
  background-color: #e1e0e4;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1000px;
  width:auto;
  margin: auto;
}

.darkApp {
  background-color: #21222A;
  color: #D5D4D8;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1000px;
  width: auto;
  margin: auto;
}


.addButton {
  color: #FDFDFD;
  background-color: #10a124;
  cursor: pointer;
  text-decoration: none;
  padding: 16px 32px;
  border: none;
  margin: 4px 2px;
  border-radius: 8px;
  font-size: 20px;
}


.form--input {
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
  width: 100%;
  font-size: 25px;
  text-align: center;
  margin: 10px 0;
}

.form--input[type=text]:focus {
  border: 3px solid #555;
}

.groceryImage {
  padding: 20px;
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

.addItemContainer form {
display: flex;
flex-direction: column;
padding: 20px 50px 10px 50px;
}


nav {
  display: flex;
  align-items: center;
  padding: 30px 25px;
}

nav.dark {
  background-color: #21222A;
}

.nav--logo_icon {
  width: 30px;
  margin-right: 10px;
}

.nav--logo_text {
  color: #61DAFB;
  margin-right: auto;
}

.nav--title {
  color: #DEEBF8;
}

.toggler {
  display: flex;
  align-items: center;
}

.toggler p {
  font-size: 0.625rem;
  font-weight: 600;
}

.toggler--slider {
  width: 25px;
  height: 13px;
  background-color: #2B283A;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}

nav.dark .toggler--slider {
  border-color: white;
  background-color: #F5F5F5;
}

.toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
}

nav.dark .toggler--slider--circle {
  background-color: black;
}

.toggler--light {
  color: #2B283A;
}

nav.dark .toggler--light {
  color: #918E9B;
}

.toggler--dark {
  color: #D5D4D8;
}

nav.dark .toggler-dark {
  color: #FFFFFF;
}

nav.dark .toggler--slider {
  justify-content: flex-end;
}